<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<!--  display jobs in a table format-->

  <table class="job-listing">
    <tr>
<!--      Table headers-->
      <th>ID</th>
      <th>Employer</th>
      <th>Location</th>
      <th>Position</th>
      <th>Skill</th>
    </tr>
<!--    Iterate through each job and display its details-->
    <tr th:fragment="job-row" th:each="job : ${jobs}">
      <td th:text="${job.id}"></td>
      <td th:text="${job.employer}"></td>
      <td th:text="${job.location}"></td>
      <td th:text="${job.positionType}"></td>
      <td th:text="${job.coreCompetency}"></td>
    </tr>
  </table>
 </div>




</body>
</html>