<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <form th:action="@{/search/results}" method = "post">
    <h2>Search by:</h2>

    <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>

    <p>
      <label for="searchTerm">Keyword:</label>
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
  </form>

  <hr />

  <!-- TODO #4 - Loop over the search results to display all job fields. -->
    <!-- Only show this section if a search has performed -->
    <div th:if="${searchPerformed}">
        <!-- Loop over the search results if a job was found. -->
        <div th:if="${jobs != null && !jobs.isEmpty()}">
            <table class="job-listing">
<!--                Table headers -->
                <tr>
                    <th>ID</th>
                    <th>Employer</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Skill</th>
                </tr>
<!--                use my fragment from list-jobs.html and display each jobs details-->
                <tr th:replace="~{list-jobs :: job-row}"></tr>
            </table>
        </div>
<!--        Display message if no jobs are found-->
        <div th:if="${jobs == null || jobs.isEmpty()}">
            <p>No Jobs Found</p>
        </div>
    </div>

</div>


</body>
</html>
